.container {
	padding: .5rem 4rem;

	.heading {
		border-bottom: 1px solid #f0f0f0;
		padding: 0 0 .2rem 0.5rem;	
	}

	.jobs {
		margin: 2.2rem 1rem 0 1.5rem;

		.job {
			border: 1px solid #e6e6e6;
			margin-bottom: 1.4rem;
			padding: 0.6rem 1rem;
			border-radius: 8px;
	
			display: flex;
			align-items: center;
	
			.title {
				color: #275696;
				font-size: 1.2rem;
				font-weight: 500;
			}
	
			.description {
				margin: .6rem 0;
				color: var(--color-black);
				font-weight: 500;
			}
		}

		.selected {
			border-left: 8px solid #3E74BE;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	
		.btn-more {
			background-color: #d61c4e;
			color: #fff;
			line-height: 1.6rem;
			font-weight: 300;
			border-radius: 15px;
			min-width: 70px;
		}
	}
}