.container {
	color: #363636;
	padding: .5rem 4rem;

	.heading {
		border-bottom: 1px solid #f0f0f0;
		padding: 0 0 .2rem 0.5rem;	
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.section {
			display: flex;
			flex-direction: column;
			width: 30%;

			margin-bottom: 1rem;

			@media screen and (max-width: 960px) {
				width: 40%;
			}

			@media screen and (max-width: 750px) {
				width: 60%;
			}

			@media screen and (max-width: 600px) {
				width: 80%;
			}
		}

		.btn-save-container {
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				background-color: #3bacb6;
				color: #fff;
				border-radius: 16px;
				min-width: 5rem;
				line-height: 1.8rem;
			}
		}
	}
}