.container {
	padding: .5rem 4rem;

	.heading {
		border-bottom: 1px solid gray;

		padding-bottom: 0.2rem;
		padding-left: 0.5rem;	
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.section {
			display: flex;
			flex-direction: column;
			width: 30%;

			margin-bottom: 1rem;
		}

		.btn-save-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}