.container {
    height: 100%;
	display: flex;
	flex-direction: column;

	.drawer {
		flex: 0 0 12%;

		@media screen and (max-width: 960px) {
			display: none;
		}
	}
    
    .main {
		display: flex;
		flex: 1;
		padding: 4px;
    }

	.is-open {
		display: block;
	}
}