/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: var(--color-black);
}

:root {
	--color-black: #363636;
}

.w-100-p{
	width: 100%;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.badge {
	align-items: center;
	justify-content: center;

	padding: 0.1rem 0.6rem;
	border-radius: 6px;
	color: #fff;
	font-size: 0.6rem;
	margin-right: 0.8rem;
}

.icon-image {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	opacity: .7;
}

.label {
	font-weight: 500;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: black !important;
}